{% extends 'base.html.twig' %}

{% block title %}Log in Ghost Developers{% endblock %}

{% block body %}
                          {# SI DESCOMENTO ACTION VA PERO NO SE LOGUEA #}
  <form class="form-signin" {# action="{{ path('secret_index') }}" #} method="post"}>
    {# {% if app.user != null %}
    {{dump(app.user)}}
    {% endif %} #}
    {% if app.user %}
    <div class="mb-3 text-center">
        You are logged in as {{app.user.alias}},
        <a href="{{ path('app_logout') }}">Log Out</a>
    </div>
    {% endif %}

    <img class="rounded mx-auto d-block" src="{{ asset('build/images/favicon.jpeg') }}"  alt="logo" width="100" height="100">
    <h2 class="h3 mt-3 mb-3 fw-normal">Sharing is caring</h2>
    <h1 class="h4 mb-3">Sign in to tell your developer secrets</h1>

    <div class="form-floating mb-2">
      <input type="text" value="{{last_username}}" name="alias" required autofocus class="form-control" id="floatingInput" placeholder="Choose an alias">
    </div>
    {%if app.user == null %}

    {% endif %}
    {% if error %}
    {{  dump(error) }}
    <div class="alert alert-danger">{{error.messageKey|trans(error.messageData, 'security')}}></div>
    {% endif %}
    <div class="form-floating mb-2">
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" autocomplete="current-password" required>
      <input type="hidden" name="_csrf_token" value="{{csrf_token('authenticate')}}">
    </div>

    <div class="checkbox mb-3">
      <label class="mt-2 mb-0">
        <input class="inputCheck" type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button style="width:49%;" class="btn btn-lg btn-primary" type="submit" name="login">Log in</button>
    {# <button style="width:49%;" class="btn btn-lg btn-info" type="button"> #}
      <a class="btn btn-lg btn-info" style="width: 49%;text-decoration:none;" href="/register">Register</a>
    {# </button> #}
    {% if app.user %}
    {# <input type="hidden" name="_target_path" value="{{ path('/secret/') }}"/> #}
    {% endif %}
</form>

{% endblock %}
