{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 style="margin:2rem 0;text-align:center;">Registry To start posting</h1>
    <div class="registration-form">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.alias, {
            label: 'Set Your Anonymous Alias',
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Set Your Password',
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button id="registerButton" type="submit" class="w-100 btn btn-lg">Register</button>
    {{ form_end(registrationForm) }}
    <div>
{% endblock %}