<div id="secret-edit" class="border border-grey rounded pt-2 mb-3">
    <ul class="nav nav-tabs">
    <li class="nav-item px-4">
        <a class="nav-link active text-center font-weight-bold bg-warning text-dark" href="#">
        WE HEAR YOU <span>{{app.user.alias}}</span></a>
        {# <a class="nav-link-active" id="posts-tab" data-toggle="tab" href="#posts" role="tab"
                        aria-controls="posts" aria-selected="true">
                        Make Your Statement. We hear you.
        </a> #}
    </li>
    </ul>
    <div class="card-body">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" role="tabpanel" aria-labelledly="posts-tab">
                {{ form_start(form)}}
                    <div class="form-group">
                        {{ form_widget(form.text, {'attr': {'class':'form-control'}}) }}
                        {{form_errors(form.text)}}
                    </div>
                    <div class="form-group mt-3">
                        
                        {{form_widget(form.save, {'attr':{'class':'btn btn-primary'}}) }}
                    </div>
            {{form_end(form)}}
            </div>
        </div>
    </div>
</div>